img {
    width: 250px;
    float: none;
       
}

body {
    background-color: #851010;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    
}

h1 {
    font: bold;
    color: #FFFFFF;
    text-align: right;
    font-size: 20px;
    padding: 15px;

}

section {
    padding: 40px;
}

button {
    width: 1000px;
    height: 50px;
    font-family: poppins;
    font-size: 32px;
    font-style: bold;
    text-align: center;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 200px;
    border-color: #FFFFFF;
    vertical-align: bottom;
    width: 508px;
    height: 61px;




}