*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --pageAllFont: 'Poppins', sans-serif;
    --btn-color: #db9317;
    --text-color: white;
}

body {
  background: linear-gradient(#851010, black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--pageAllFont);
}

.imageMenu{
    width: 140px;
}


.top{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    margin-top: 1.2rem;
}

.navigation{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.links-menu{
    display: flex;

}
.links-menu li{
    margin-left: 2.3rem;
}
.links-menu li a{
   color: var(--text-color);
}


.links-menu li a.btn-login{
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    background: var(--text-color);
    font-weight: bold;
    color:var(--btn-color);
}

/* 

===============Hero======================
*/

#hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .box-hero{
    width: 85%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

#hero .box-hero .text h2{
    margin-top: -3rem;
    line-height: 40px;
   color: var(--text-color);
   font-size: 1.5rem;
   margin-bottom: 30px;
}

#hero .box-hero .text button{
  width: 40%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  color: var(--btn-color);
  font-weight: bold;
}


#hero .image {
    margin-left: .7rem;
}
#hero .image img{
    width: 430px;
}