*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --pageAllFont: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(#851010, black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--pageAllFont);
}

/* 

====================MENU=====================
*/
.top{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    margin-top: 1.5rem;
}

.navigation{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: 80%;
}

.imageMenu{
    width: 210px;
}


.links-menu{
    display: flex;

}
.links-menu li{
    margin-left: 1.5rem;
}

.links-menu li a{
   color: white;
}


.links-menu li a.btn-login{
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    background: white;
    color: black;
}